<h2 ng-model="ItemVariable" id ="valueitem" class="battlename" value="{{ItemVariable[whichItem].Name|uppercase}}"></h2> 	
	<div style="background-color: rgb(158, 63, 63);font-size: 1rem;padding: 0.6rem;text-align: center;">
		<strong>You are currently using a live yet uncompleted version of the site.</strong>
		<br/> The finalized version is still a work in progress. Certain functions and capabilities have been added or disabled for testing purposes.
	</div>
	<div class="borderbattle"> 	
		<div ng-model="ItemVariable" class="itemtooltipbattle"> 				 		
			<div class="battlebanner" value="{{ItemVariable[whichItem].ID}}">
				<span class="battlename title" value="{{ItemVariable[whichItem].Name|uppercase}}"></span>
			</div>	 		
			<div id="battletabs">
				<ul>
					<li><a href="#battletabs-1">Details</a></li>
					<li><a href="#battletabs-2">Battle Points</a></li>
				</ul>
			<div class="usewindowbattle" id="battletabs-1">  
				<div class="client" value="{{ItemVariable[whichItem].Client}}"></div>
				<div class="battledesc">
					<img class="questclient" src="/images/npc/quest_client_{{ItemVariable[whichItem].Client|lowercase}}.png">
					<p class="battlequote" value="{{ItemVariable[whichItem].Description}}"></p>
				</div>
				<div class="battleborder">
					<table class="detailboard">
						<col width="82"></col>
						<col width="246"></col>
						<tr>
							<td class="battleval">Mission</td>
							<td>
								<input class="mission" style="display:none;" ng-model="missiondesc" ng-init="missiondesc = &#39;Loading...&#39;" name="search">
								<span ng-repeat="item in QuestGoalInfo | filter : {'QuestID':missiondesc , 'Relation':0}:true">
									<span class="missiondesc" value="{{item.Description}}"></span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="battleval">Difficulty</td>
							<td>Lv.{{ItemVariable[whichItem].Level}} or above</td>
						</tr>
						<tr>
							<td class="battleval">Prerequisites</td>
							<td>{{ItemVariable[whichItem].RequiredStoryLineID}}</td>
						</tr>
					</table>
					<table class="detailboard location">
						<col width="82"></col>
						<col width="246"></col>
						<tr>
							<td class="battleval">Location</td>
							<td><span class="area" value="{{ItemVariable[whichItem].STAGE|uppercase}}"></span></td>
						</tr>
					</table>
					<table class="detailboard">
						<col width="45"></col>
						<col width="285"></col>
						<tr>
							<td class="battleval">Reward</td>
							<input class="mission" style="display:none;" ng-model="missionstat" ng-init="missionstat = &#39;Loading...&#39;" name="search">
							<td ng-repeat="item in QuestGoalInfo | filter : {'QuestID':missionstat , 'Relation':0}:true">					
							<div class="reward gold"><span class="number">{{item.Gold}}</span></span><span class="rewardgold"></span></div>
							<div class="reward exp"><span class="number">{{item.XP}}</span><span class="rewardexp"></span></div>
							<div class="reward ap"><span class="number">{{item.MaxAP}}</span>-<span class="number">{{item.MinAP}}</span><span class="rewardap"></span></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="usewindowbattle" id="battletabs-2">  
			<div class="battleborder">
			<div class="detailboard">
			<p class="battleval">Mission</p>
			<table>
				<tr ng-repeat="item in QuestGoalInfo | filter : {'QuestID':missiondesc , 'Relation':0}:true">
					<td>+{{item.Weight}}pt</td>
					<td class="missiondesc"  value="{{item.Description}}">{{item.Description}}</td>
				</tr>
			</table>
			<p class="battleval">Battles</p>
			<p>0/{{ItemVariable[whichItem].MaxPlayCount||"∞"}}</p>
			<p class="battleval">Bonus Mission</p>
			<p class="battleval">Oath of Honor</p>
			</div>
			</div>
			</div>
		</div> 		 	
		</div>
	</div> 		 	
	<div class="moreinfobubble"> 		
		<h2>Additional Info</h2> 		
			<ul> 			
				<li><strong>Level Unlocked:</strong> <br />
				{{ItemVariable[whichItem].AutoGiveLevel}}</li> 
				<li><strong>Durability Ratio:</strong> <br />
				{{ItemVariable[whichItem].DurabilityRatio}}</li> 							
				<li><strong>Min Evil Cores:</strong> <br />
				{{ItemVariable[whichItem].DropItemCountMin}}</li> 			
				<li><strong>Max Evil Cores:</strong> <br />
				{{ItemVariable[whichItem].DropItemCountMax}}</li> 			
				<li><strong>Time Limit:</strong> <br />
				{{ItemVariable[whichItem].TimeLimit}} minutes</li> 			
				<li><strong>Minimum Clear Time:</strong> <br />
				{{ItemVariable[whichItem].MinClearTime}} minutes</li> 			
				<li><strong>Practice Mode:</strong> <br />
				{{ItemVariable[whichItem].EnablePracticeMode}}</li> 			
				<li><strong>Is Hardcore:</strong> <br />
				{{ItemVariable[whichItem].IsHardcore}}</li> 			
			</ul> 	
	</div>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Drop Locations</a></li>
			<li><a href="#tabs-2">Comments</a></li>
		</ul>
	<div class="usewindow" id="tabs-1"> 		<h2>Drop Locations</h2> 	<p>Coming Soon</p></div>
	<div class="usewindow" id="tabs-2"> 		<h2>Comments</h2> 	<p>Coming Soon</p></div>
</div> 