<div style="background-color: rgb(158, 63, 63);font-size: 1rem;padding: 0.6rem;text-align: center;">
	<strong>You are currently using a live yet uncompleted version of the site.</strong><br/> The finalized version is still a work in progress. Certain functions and capabilities have been added or disabled for testing purposes.
</div>
	<table class="itemtable" style="table-layout:fixed">
	<col style="width:67px">
	<col style="width:250px">
	<thead> 	
		<th>Name</th> 
		<th>Level</th> 	
		<th>Location</th> 	
	</thead> 
	<tbody> 	
		<tr class="itemlist" ng-repeat="item in ItemVariable"> 		
			<td><a href="#!/item/{{ItemVariable.indexOf(item)}}"><span class="battlename" value="{{item.Name|uppercase}}"></span></a></td>
			<td>{{item.Level}}</td>
			<td><span class="area" value="{{item.STAGE|uppercase}}"></span></td>
		</tr> 
	</tbody> 
	</table> 