<div style="background-color: rgb(158, 63, 63);font-size: 1rem;padding: 0.6rem;text-align: center;">
	<strong>You are currently using a live yet uncompleted version of the site.</strong><br/> The finalized version is still a work in progress. Certain functions and capabilities have been added or disabled for testing purposes.
</div>
	<table class="itemtable" style="table-layout:fixed">
	<col style="width:67px">
	<col style="width:250px">
	<thead> 	
		<th class="itemcol"></th> 	
		<th>Name</th> 
		<th>Type</th> 	
		<th>Uses</th>
	</thead> 
	<tbody> 	
		<tr class="itemlist" ng-repeat="item in ItemVariable"> 		
			<td><img class="tableicon" src="http://i.imgur.com/Cv2JSPy.png" value="{{item.Icon}}" style="background-image:url(/images/icons/enchant_scroll.png)"/></td>
	 		<td class="name" width="20%">
				<a href="#!/item/{{ItemVariable.indexOf(item)}}" class="Beginner linkname itemname" value="{{item.EnchantClass}}"> Enchant Scroll</a>
				<div class="hidetooltip">
					<div class="border" id="{{item.EnchantClass}}"> 	
						<div class="itemtooltip"> 				 		
							<div class="icon"> 			
								<img class="itemicon" src="http://i.imgur.com/Cv2JSPy.png" value="{{item.Icon}}" style="background-image:url(/images/icons/enchant_scroll.png)"/> 			
								<span class="Beginner rarity itemname"  value="{{item.EnchantClass}}"> Enchant Scroll</span> 			
								<span class="bubble"> 				
									<span class="itemtype">Rank {{item.EnchantLevel}} <span class="isPrefix" value="{{item.IsPrefix}}"></span> Enchant</span> 				
									<span id="sell">Sell Price</span> 				
									<span class="right">
										<img src="http://i.imgur.com/Hq3oGZI.png" id="goldsack">
										<span class="number sellingfor">500</span>
									</span> 			
								</span> 					 			
								<span class="bubble Beginner">Beginner 						
								</span> 				 		
							</div> 			 		
							<span class="expiry">Expires in: 7 day(s).</span>		 		
							<div class="containres"> 				 			
								<span class="restriction classres"><span class="classresvalue"><span class="itemconstraint" value="{{item.ItemConstraintDesc|uppercase}}"></span></span></span> 		
							</div> 			 		
							<div class="desc">
							An enchant scroll that lets you infuse a piece of equipment with magical power.<br />Brynn probably knows how to use this.
							<div class="enchantid">
								<span class="itemname" value="{{item.EnchantClass}}"></span>
								<span class="prefixrank"><span class="isPrefix" value="{{item.IsPrefix}}"></span><span class="enchantrank">{{item.EnchantLevel}}</span>Rank</span>
							</div>
							<div class="enchantinfo">
								<ul class="enchantstatlist">
								<input class="Input{{item.EnchantClass}}" style="display:none;" ng-model="mainquery" ng-init="mainquery = &#39;Loading...&#39;" name="search">
									<span ng-repeat="item in ItemVariable2 | filter : {'EnchantClass':mainquery}:true">
										<li class="enchantstat" value="{{item.StatDesc|uppercase}}"></li>
										<li class="enchantstatconstraint" value="{{item.ConditionDesc|uppercase}}"></li>
									</span>
								</ul>
							</div>
							</div>
							<span class="trade" value="{{item.TradeRestirction}}"></span> 
						</div> 	
					</div> 
				</div>
			</td> 		 	
			<td class="centercell"><span class="isPrefix" value="{{item.IsPrefix}}"></span></td> 	
			<td class="subtype centercell"><span class="itemconstraint" value="{{item.ItemConstraintDesc|uppercase}}"></span></td>
	</tr> </tbody> </table> 