<h2 ng-model="ItemVariable" id ="valueitem" class="itemname" value="{{ItemVariable[whichItem].SkillName|uppercase}}" ></h2> 	
	<div class="border"> 	
		<div ng-model="ItemVariable" class="itemtooltip"> 				 		
			<div class="icon"> 			
				<span class="Beginner rarity itemname skillname"  value="{{ItemVariable[whichItem].SetID|uppercase}}"></span> 							 							 		
			</div> 			 						 		
			<div class="skilldesc">
				Let's get this show on the road.
				<div class="setbonus">Set Bonus</div>
			</div>
		</div> 	
	</div> 		 	
	<div class="moreinfobubble"> 		
		<h2>Additional Info</h2> 		
	</div>
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Pieces</a></li>
			<li><a href="#tabs-2">Comments</a></li>
		</ul>
	<div class="usewindow" id="tabs-1"> 		
		<h2>Pieces</h2> 
		
	</div>
	<div class="usewindow" id="tabs-2"> 		
		<h2>Comments</h2> 	
		<div disqus="id"></div>
			
			<script>
			var disqus_config = function () {
				this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = window.location.hash; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//vindictusinndb.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		
	</div>
</div> 