<h2 ng-model="ItemVariable" id ="MainSetID" class="itemname" value="{{ItemVariable[whichItem].SetID}}" ></h2> 	
<input class="SetIDInput" style="display:none;" ng-model="setid" ng-init="setid = &#39;Loading...&#39;" name="search">
	<div class="border"> 	
		<div ng-model="ItemVariable" class="itemtooltip"> 				 		
			<div class="settitle"> 			
				<span class="Beginner rarity itemname skillname"  value="{{ItemVariable[whichItem].SetID|uppercase}}">{{ItemVariable[whichItem].SetID|uppercase}}</span> 							 							 		
			</div> 			 						 		
			<div class="enchantinfo">
				<ul class="enchantstatlist">
					<li class="enchantstatconstraint" ng-repeat="setitem in SetItemInfo|filter:{'SetID':setid}:true">
						<span class="setitemclass" value="{{setitem.ItemClass|uppercase}}">
							<input class="{{setitem.ItemClass|uppercase}}" style="display:none;" ng-model="setitemclass" ng-init="setitemclass = &#39;Loading...&#39;" name="search">
							<span ng-repeat="item in ItemClassInfo|filter:{'ItemClass':setitemclass}:true">
								<a href="http://db.vindictusinn.com/db#!/item/{{item.indexOf(item)}}">{{item.Name}}</a>
							</span>
						</span>
					</li>
				</ul>
				<div class="setbonus">Set Bonus</div>
				<ul class="enchantstatlist">
					<li class="enchantstatconstraint">2: <span class="effecttarget" ng-repeat="effect in SetEffectInfo|filter:{'SetID':setid ,'SetCount':2}:true">{{effect.EffectTarget}} +{{effect.Amount}}</span></li>
					<li class="enchantstatconstraint">3: <span class="effecttarget" ng-repeat="effect in SetEffectInfo|filter:{'SetID':setid ,'SetCount':3}:true">{{effect.EffectTarget}} +{{effect.Amount}}</span></li>
					<li class="enchantstatconstraint">4: <span class="effecttarget" ng-repeat="effect in SetEffectInfo|filter:{'SetID':setid ,'SetCount':4}:true">{{effect.EffectTarget}} +{{effect.Amount}}</span></li>
					<li class="enchantstatconstraint">5: <span class="effecttarget" ng-repeat="effect in SetEffectInfo|filter:{'SetID':setid ,'SetCount':5}:true">{{effect.EffectTarget}} +{{effect.Amount}}</span></li>
					<li class="enchantstatconstraint">6: <span class="effecttarget" ng-repeat="effect in SetEffectInfo|filter:{'SetID':setid ,'SetCount':6}:true">{{effect.EffectTarget}} +{{effect.Amount}}</span></li>
				</ul>
			</div>
		</div> 	
	</div> 		 	
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Pieces</a></li>
			<li><a href="#tabs-2">Comments</a></li>
		</ul>
	<div class="usewindow" id="tabs-1"> 		
		<h2>Pieces</h2> 
		<table>
			<thead>
				<th></th>
				<th>Name</th>
			</thead>
			<tbody>
				<tr class="enchantstatconstraint" ng-repeat="setitem in SetItemInfo|filter:{'SetID':setid}:true">
					<td>
						<span class="setitemclass" value="{{setitem.ItemClass|uppercase}}">
							<input class="{{setitem.ItemClass|uppercase}}" style="display:none;" ng-model="setitemclass" ng-init="setitemclass = &#39;Loading...&#39;" name="search">
							<tr ng-repeat="item in ItemClassInfo|filter:{'ItemClass':setitemclass}:true">
								<td>Icon</td>
								<td><a href="http://db.vindictusinn.com/db#!/item/{{item.indexOf(item)}}">{{item.Name}}</a></td>
							</tr>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="usewindow" id="tabs-2"> 		
		<h2>Comments</h2> 	
		<div disqus="id"></div>
			
			<script>
			var disqus_config = function () {
				this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = window.location.hash; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//vindictusinndb.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		
	</div>
</div> 