<h2 ng-model="ItemVariable" id ="valueitem" class="itemname" value="{{ItemVariable[whichItem].SkillName|uppercase}}" ></h2> 	
	<div style="background-color: rgb(158, 63, 63);font-size: 1rem;padding: 0.6rem;text-align: center;">
		<strong>You are currently using a live yet uncompleted version of the site.</strong>
		<br/> The finalized version is still a work in progress. Certain functions and capabilities have been added or disabled for testing purposes.
	</div>
	<div class="border"> 	
		<div ng-model="ItemVariable" class="itemtooltipskill"> 				 		
			<div class="icon"> 			
				<img class="skillicon" src="http://i.imgur.com/Cv2JSPy.png" style="background-image:url(/images/icons/{{ItemVariable[whichItem].IconType}}.png)"/> 			
				<span class="Beginner rarity itemname skillname"  value="{{ItemVariable[whichItem].SkillName|uppercase}}"></span> 							 							 		
			</div> 			 						 		
			<div class="skilldesc" value="{{ItemVariable[whichItem].SkillDescription|uppercase}}">
			</div>
		</div> 	
	</div> 		 	
	<div class="moreinfobubble"> 		
		<h2>Additional Info</h2> 		
			<ul> 			
				<li class="wide"><strong>Price:</strong> <br /><span class="number">{{ItemVariable[whichItem].Price}}</span> <img src="http://i.imgur.com/Hq3oGZI.png" style="vertical-align: middle;"></li> 			
				<li class="wide"><strong>Class Restriction:</strong> <br />
				<span class="classresvalue" value="{{ItemVariable[whichItem].ClassRestriction}}"></span></li> 			
				<li><strong>Category:</strong> <br />
				{{ItemVariable[whichItem].Category}}</li> 											
			</ul> 	
	</div>
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Rank</a></li>
			<li><a href="#tabs-2">Comments</a></li>
		</ul>
	<div class="usewindow" id="tabs-1"> 		
		<h2>Ranks</h2> 
		<table class="skillid" value="{{ItemVariable[whichItem].SkillID}}">
			<thead>
				<th>Rank</th>
				<th>Description</th>
				<th>Level</th>
				<th>AP</th>
			</thead>
			<tbody>
				<input class="rankinput" style="display:none;" ng-model="skillid" ng-init="skillid = &#39;Loading...&#39;" name="search">
				<tr ng-repeat="rank in SkillRankInfo | filter:{'SkillID':skillid}:true">
					<td class="centercell enum" value="{{rank.Rank}}"></td>
					<td class="skillrank" value="{{rank.Description|uppercase}}"></td>
					<td class="centercell">{{rank.LevelConstraint}}</td>
					<td class="centercell">{{rank.RequiredAP}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="usewindow" id="tabs-2"> 		<h2>Comments</h2> 	<p>Coming Soon</p></div>
</div> 