<div style="background-color: rgb(158, 63, 63);font-size: 1rem;padding: 0.6rem;text-align: center;">
	<strong>You are currently using a live yet uncompleted version of the site.</strong><br/> The finalized version is still a work in progress. Certain functions and capabilities have been added or disabled for testing purposes.
</div>
<h2>Skills</h2>
	<table class="itemtable" style="table-layout:fixed">
	<col style="width:60px">
	<col style="width:500px">
	<col style="width:200px">
	<col style="width:500px">
	<thead> 	
		<th class="itemcol"></th> 	
		<th>Skill</th> 
		<th>Category</th> 
		<th>Class Restriction</th> 
	</thead> 
	<tbody> 	
		<tr class="itemlist" ng-repeat="skill in ItemVariable"> 		
			<td><img class="tableicon" src="http://i.imgur.com/Cv2JSPy.png" style="background-image:url(/images/icons/{{skill.IconType}}.png)"/></td>
	 		<td class="name" width="20%">
				<a href="#!/skill/{{ItemVariable.indexOf(skill)}}" class="Beginner linkname itemname" value="{{skill.SkillName|uppercase}}"></a>
				<div class="hidetooltip">
					<div class="borderskill" id="{{skill.SkillID}}"> 	
						<div class="itemtooltipskill"> 				 		
							<div class="icon"> 			
								<img class="skillicon" src="http://i.imgur.com/Cv2JSPy.png" style="background-image:url(/images/icons/{{skill.IconType}}.png)"/> 			
								<span class="Beginner rarity itemname skillname"  value="{{skill.SkillName|uppercase}}"></span> 		
							</div>
							<div class="skilldesc" value="{{skill.SkillDescription|uppercase}}"></div>
							<div class="enchantinfo">
								This should be holding enchancement info.
							</div>
						</div> 	
					</div> 
				</div>
			</td> 
			<td class="centercell skillcategory" value="{{skill.Category}}"></td>
			<td><span class="classresvalue" value="{{skill.ClassRestriction}}"></span></td>
	</tr> </tbody> </table> 