<h2 ng-model="ItemVariable" id ="valueitem" value="{{ItemVariable[whichItem].SkillName}}" >{{ItemVariable[whichItem].SkillName}}</h2> 	
	<div style="background-color: rgb(158, 63, 63);font-size: 1rem;padding: 0.6rem;text-align: center;">
		<strong>You are currently using a live yet uncompleted version of the site.</strong>
		<br/> The finalized version is still a work in progress. Certain functions and capabilities have been added or disabled for testing purposes.
	</div>
	<div class="border"> 	
		<div ng-model="ItemVariable" class="itemtooltipskill"> 				 		
			<div class="icon"> 			
				<img class="skillicon" src="http://i.imgur.com/Cv2JSPy.png" style="background-image:url(/images/icons/{{ItemVariable[whichItem].IconType}}.png)"/> 			
				<span class="Beginner rarity itemname skillname"  value="{{ItemVariable[whichItem].SkillName}}">{{ItemVariable[whichItem].SkillName}}</span> 							 							 		
			</div> 			 						 		
			<div class="skilldesc">
				{{ItemVariable[whichItem].SkillDescription}}
			</div>
		</div> 	
	</div> 		 	
	<div class="moreinfobubble"> 		
		<h2>Additional Info</h2> 		
			<ul> 			
				<li class="wide"><strong>Price:</strong> <br /><span class="number">{{ItemVariable[whichItem].Price}}</span> <img src="http://i.imgur.com/Hq3oGZI.png" style="vertical-align: middle;"></li> 			
				<li class="wide"><strong>Class Restriction:</strong> <br />
				{{ItemVariable[whichItem].ClassRestriction}}</li> 			
				<li><strong>Category:</strong> <br />
				{{ItemVariable[whichItem].Category}}</li> 											
			</ul> 	
	</div>
	
	<table class="skillid" value="{{ItemVariable[whichItem].SkillID}}">
		<thead>
			<th>Rank</th>
			<th>Description</th>
			<th>Level</th>
			<th>AP</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
		</tbody>
	</table>
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Rank</a></li>
			<li><a href="#tabs-2">Comments</a></li>
		</ul>
	<div class="usewindow" id="tabs-1"> 		<h2>Drop Locations</h2> 	<p>Coming Soon</p></div>
	<div class="usewindow" id="tabs-2"> 		<h2>Comments</h2> 	<p>Coming Soon</p></div>
</div> 