<h2>Stories</h2>
	<table class="itemtable" style="table-layout:fixed">
	<thead> 	
		<th>Name</th> 
		<th>Type</th> 
		<th>Season</th> 
		<th>Level</th> 
		<th>Gold</th> 
		<th>EXP</th> 
	</thead> 
	<tbody> 	
		<tr class="itemlist" ng-repeat="story in ItemVariable"> 		
			<td class="storyname" value="{{story.StoryLineName}}"></td> 
			<td class="centercell">{{story.Category}}</td>
			<td class="centercell">Season {{story.Season}}</td>
			<td class="centercell">Lv. {{story.AutoGiveLevel}}</td>
			<td class="centercell number">{{story.RewardGold}}</td>
			<td class="centercell number">{{story.RewardExp}}</td>
	</tr> </tbody> </table> 