<h2>Battles</h2>
	<table class="itemtable" style="table-layout:fixed">
	<thead> 	
		<th>Name</th> 
		<th>Description</th> 	
		<th>Obtain</th> 	
		<th>Stats</th> 	
	</thead> 
	<tbody> 	
		<tr class="itemlist" ng-repeat="item in ItemVariable"> 		
			<td><a href="#!/title/{{ItemVariable.indexOf(item)}}"><span id="{{item.ID}}" class="titlename" value="{{item.Description|uppercase}}">{{item.Description|uppercase}}</span></a></td>
			<td class="centercell">{{item.GoalDescription|uppercase}}</td>
			<td class="centercell">
				<input class="Input{{item.ID}}" style="display:none;" ng-model="mainquery" ng-init="mainquery = &#39;Loading...&#39;" name="search" type="number">
				<span ng-repeat="goal in TitleGoalInfo | filter : {'TitleID':mainquery}:true | limitTo: 1">{{goal.Description}}</span>
			</td>
			<td class="centercell"></td>
		</tr> 
	</tbody> 
	</table> 